@media (max-width: 575px) {
  .hero-section .hero-txt h1 {
    font-size: 50px;
  }
  .hero-section .hero-txt {
    padding: 50px;
    text-align: center;
  }
  .hero-section {
    max-height: 1000px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hero-section .hero-txt h1 {
    font-size: 60px;
  }
  .hero-section .hero-txt {
    padding: 50px;
  }
  .hero-section {
    max-height: 600px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-txt h1 {
    font-size: 40px;
  }
  .hero-section .hero-txt {
    padding: 50px 0;
  }
  .about-left p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-link {
    font-size: 14px;
  }
  .hero-section .hero-txt h1 {
    font-size: 50px;
  }
}

@media (min-width: 1200) {
}
